<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout  ::  layout(~{:: title}, ~{:: #css}, ~{:: #content-wrapper}, ~{:: #js})}">
<head>

    <title>Chi tiết blog</title>
    <th:block id="css"></th:block>
</head>
<body>
<th:block id="content-wrapper">
    <section>
        <div class="container py-4 bg-ct border-top border-secondary border-opacity-50">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a th:href="@{/}" class="text-white">Trang chủ</a></li>
                    <li class="breadcrumb-item "><a th:href="@{/tin-tuc}" class="text-white">Tin tức</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${blog.getTitle()}">Top 10 Bộ Phim Hoa Ngữ Sắp Chiếu Năm 2024</li>
                </ol>
            </nav>
            <div class="text-white content-blog">
                <h2 th:text="${blog.title}"></h2>
                <h6 class="text-secondary ps-3" th:text="${#temporals.format(blog.createdAt, 'dd-MM-yyyy')}"></h6>
                <p th:text="${blog.description}"></p>
                <p th:text="${blog.content}"></p>

            </div>
            <div class="comment-blog px-4 py-3 border border-secondary border-opacity-25 rounded-1">
                <div class="text-white border-bottom border-secondary border-opacity-25 mb-4">
                    <p class="fw-bold">
                        Bình Luận
                        <span th:if="${#lists.isEmpty(comments)}">(0)</span>
                        <span th:if="${not #lists.isEmpty(comments)}">
                        (<span th:text="${#lists.size(comments)}"></span>)
                    </span>
                    </p>
                    <p style="font-size: 14px;">Vui lòng <a href="#" class="text-warning-emphasis"> đăng nhập</a> để bình luận</p>
                </div>
                <div class="text-white d-flex flex-column mb-3 p-3 user-comment-blog rounded-2" th:each="comment : ${comments}">
                    <div class="d-flex align-items-center pb-2">
                        <img th:src="${comment.user.avatar}" class="rounded-circle avatar-cmt me-2 "alt="">
                        <p class="m-0 pe-2 coment-blog-name" th:text="${comment.user.name}">Baotrung Nguyen</p>
                        <p class="m-0 comment-blog-time" th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy')}">11 tiếng trước</p>
                    </div>
                    <div>
                        <p class="m-0 comment-blog-text" th:text="${comment.content}">Phim hài quá</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>

<th:block id="js"></th:block>
</body>
</html>