<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout  ::  layout(~{:: title}, ~{:: #css}, ~{:: #content-wrapper}, ~{:: #js})}">
<head>
    <th:block id="css"></th:block>
    <title>Danh sách blog</title>

</head>
<body>

<th:block id="content-wrapper">
    <section >
        <div class="container bg-ct py-4 border-top border-secondary border-opacity-50 ">
            <div class=" mb-4 text-white">
                <h4 class="text-center">BLOG</h4>
            </div>

            <div class="row">
                <div class="col-3" th:each="blog : ${pageData.getContent()}">
                    <a th:href="@{/tin-tuc/{id}/{slug} (id=${blog.id}, slug=${blog.slug})}">
                        <div class=" p-2 rounded text-black blog-item">
                            <div class="blog-thumbnail rounded overflow-hidden ">
                                <img class="w-100 h-100" th:src="${blog.thumbnail}" alt="">
                            </div>
                            <div class="p-2 blog-introduce">
                                <h5 th:text="${blog.title}"></h5>
                                <p class="mb-2 blog-time" th:text="${#temporals.format(blog.createdAt, 'dd-MM-yyyy')}"></p>
                                <p class="mb-0 " th:text="${blog.description}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4" id="pagination" th:if="${pageData.getTotalPages() != 1}">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/tin-tuc (page=${currentPage - 1})}">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                        </li>

                        <li class="page-item"
                            th:each="number: ${#numbers.sequence(1, pageData.getTotalPages())}"
                            th:classappend="${currentPage == number ? 'active' : ''}"
                        >
                            <a class="page-link" th:href="@{/tin-tuc (page=${number})}" th:text="${number}">1</a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage == pageData.getTotalPages() ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/tin-tuc (page=${currentPage + 1})}">
                                <i class="fa-solid fa-caret-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </section>
</th:block>

<th:block id="js"></th:block>
</body>
</html>