<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout  ::  layout(~{:: title}, ~{:: #css}, ~{:: #content-wrapper}, ~{:: #js})}">
<head>

    <title>Movie</title>
    <th:block id="css"></th:block>
</head>
<body>

<th:block id="content-wrapper">
    <section>
        <div class="container py-4 bg-ct border-top border-secondary border-opacity-50">
            <div class="d-flex justify-content-between align-items-center mb-2 text-white">
                <h3>Phim HOT</h3>
            </div>

            <div class="row">
                <div class="col-3" th:each="movie : ${listPhimHot}">
                    <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}">
                        <div class="movie-item">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100" th:src="${movie.poster}" alt="">
                            </div>
                            <p class="mt-2 text-white" th:text="${movie.name}">Phát Thanh Viên Thành Thật</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container py-4 bg-ct border-top border-secondary border-opacity-50 ">
            <div class="d-flex justify-content-between align-items-center mb-2 text-white">
                <h3>Phim bộ gần đây</h3>
                <a style="color: #da966e" th:href="@{/phim-bo}">Xem thêm</a>
            </div>

            <div class="row">
                <div class="col-2" th:each="movie: ${listPhimBo}">
                    <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}">
                        <div class="movie-item">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100" th:src="${movie.poster}" alt="">
                            </div>
                            <p class="mt-2 text-white" th:text="${movie.name}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-4 bg-ct border-top border-secondary border-opacity-50 ">
            <div class="d-flex justify-content-between align-items-center mb-2 text-white">
                <h3>Phim lẻ gần đây</h3>
                <a style="color: #da966e" th:href="@{/phim-le}">Xem thêm</a>
            </div>

            <div class="row">
                <div class="col-2" th:each="movie: ${listPhimLe}">
                    <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}">
                        <div class="movie-item">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100" th:src="${movie.poster}" alt="">
                            </div>
                            <p class="mt-2 text-white" th:text="${movie.name}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-4 bg-ct border-top border-secondary border-opacity-50">
            <div class="d-flex justify-content-between align-items-center mb-2 text-white">
                <h3>Phim chiếu rạp gần đây</h3>
                <a style="color: #da966e" th:href="@{/phim-chieu-rap}">Xem thêm</a>
            </div>

            <div class="row">
                <div class="col-2" th:each="movie: ${listPhimChieuRap}">
                    <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}">
                        <div class="movie-item">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100" th:src="${movie.poster}" alt="">
                            </div>
                            <p class="mt-2 text-white" th:text="${movie.name}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container bg-ct py-4 border-top border-secondary border-opacity-50">
            <div class="d-flex justify-content-between align-items-center mb-2 text-white">
                <h3>Tin tức</h3>
                <a style="color: #da966e" th:href="@{/tin-tuc}">Xem thêm</a>
            </div>
            <div th:each="blog : ${listBlog}">
                <div class="py-3 border-bottom border-secondary border-opacity-50">
                    <a th:href="@{/tin-tuc/{id}/{slug} (id=${blog.id}, slug=${blog.slug})}" class="title-blog-index">
                        <h5>
                            <span th:text="${blog.title}">Top 10 Bộ Phim Hoa Ngữ Sắp Chiếu Năm 2024</span>
                            <span class="blog-time-index text-secondary" th:text="${#temporals.format(blog.createdAt, 'dd-MM-yyyy')}">Jan 23, 2024</span>
                        </h5>
                    </a>
                    <p class="mb-1 text-secondary" th:text="${blog.description}">Dù chưa ra mắt nhưng năm 2024 hứa hẹn sẽ có
                        nhiều phim cổ trang bom tấn làm cho mọt phim đón đợi. Cùng Motchill điểm danh Top 10 Phim Cổ Trang
                        Trung Quốc Sắp Ra Mắt Năm 2024 bên dưới nhé.</p>
                    <a th:href="@{/tin-tuc/{id}/{slug} (id=${blog.id}, slug=${blog.slug})}" class="click-blog">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>


        </div>
    </section>
</th:block>



<th:block id="js"></th:block>

</body>
</html>