<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phim Bộ</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script th:src="@{https://kit.fontawesome.com/d898046858.js}" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header >
    <div class="container bg-ct">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" th:href="@{/}">
                <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" th:href="@{/}">Trang chủ</a>
                    <a class="nav-link text-white" th:href="@{/phim-bo}">Phim bộ</a>
                    <a class="nav-link text-white" th:href="@{/phim-le}">Phim lẻ</a>
                    <a class="nav-link text-white" th:href="@{/phim-chieu-rap}">Phim chiếu rạp</a>
                    <a class="nav-link text-white" th:href="@{/tin-tuc}">Blog</a>
                </div>
            </div>
        </nav>
    </div>

</header>

    <section>
        <div class="container py-4 bg-ct border-top border-secondary border-opacity-50">
            <div class=" mb-4 text-white">
                <h4 class="text-center">PHIM BỘ</h4>
            </div>

            <div class="row">
                <div th:each="movie : ${pageData.getContent()}" class="col-2">
                    <a th:href="@{/phim/{id}/{slug} (id=${movie.id}, slug=${movie.slug})}">
                        <div class="movie-item">
                            <div class="movie-poster rounded overflow-hidden">
                                <img class="w-100 h-100" th:src="${movie.poster}" alt="">
                            </div>
                            <p class="mt-2 text-white" th:text="${movie.name}"></p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4" id="pagination" th:if="${pageData.getTotalPages() != 1}">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/phim-bo (page=${currentPage - 1})}">
                                <i class="fa-solid fa-caret-left"></i>
                            </a>
                        </li>

                        <li class="page-item"
                            th:each="number: ${#numbers.sequence(1, pageData.getTotalPages())}"
                            th:classappend="${currentPage == number ? 'active' : ''}"
                        >
                            <a class="page-link" th:href="@{/phim-bo (page=${number})}" th:text="${number}">1</a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage == pageData.getTotalPages() ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/phim-bo (page=${currentPage + 1})}">
                                <i class="fa-solid fa-caret-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <footer >
    <div class="py-4 container border-top border-secondary border-opacity-50 bg-ct">
        <div class="row">
            <div class="col-4">
                <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="">
                <p class="text-white mt-4">Motchill - Trang web xem phim trực tuyến miễn phí chất lượng cao với giao diện trực quan, tốc độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim hay, luôn cập nhật phim nhanh, hứa hẹn sẽ đem lại phút giây thư giãn cho bạn.</p>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mb-3">Phim Mới</li>
                        <li class="mb-3">Phim Chiếu Rạp</li>
                        <li class="mb-3">Phim Lẻ</li>
                        <li class="mb-3">Phim Bộ</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mb-3">Phim Mới</li>
                        <li class="mb-3">Phim Chiếu Rạp</li>
                        <li class="mb-3">Phim Lẻ</li>
                        <li class="mb-3">Phim Bộ</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5>DANH MỤC</h5>
                    <ul class="ps-0">
                        <li class="mb-3">Phim Mới</li>
                        <li class="mb-3">Phim Chiếu Rạp</li>
                        <li class="mb-3">Phim Lẻ</li>
                        <li class="mb-3">Phim Bộ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

    <script th:src="@{/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>