<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <footer>
<!--        new-->
        <div class="py-4 container border-top border-secondary border-opacity-50 bg-ct">
            <div class="row">
                <div class="col-4">
                    <img src="https://motchilltv.ac/_ipx/s_150x35/logo.png" alt="">
                    <p class="text-white mt-4">Motchill - Trang web xem phim trực tuyến miễn phí chất lượng cao với giao
                        diện trực quan, tốc độ tải trang nhanh, cùng kho phim với hơn 10.000+ phim mới, phim hay, luôn cập
                        nhật phim nhanh, hứa hẹn sẽ đem lại phút giây thư giãn cho bạn.</p>
                </div>
                <div class="col">
                    <div class="text-white">
                        <h5>DANH MỤC</h5>
                        <ul class="ps-0">
                            <li class="mb-3">Phim Mới</li>
                            <li class="mb-3">Phim Chiếu Rạp</li>
                            <li class="mb-3">Phim Lẻ</li>
                            <li class="mb-3">Phim Bộ</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="text-white">
                        <h5>DANH MỤC</h5>
                        <ul class="ps-0">
                            <li class="mb-3">Phim Mới</li>
                            <li class="mb-3">Phim Chiếu Rạp</li>
                            <li class="mb-3">Phim Lẻ</li>
                            <li class="mb-3">Phim Bộ</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="text-white">
                        <h5>DANH MỤC</h5>
                        <ul class="ps-0">
                            <li class="mb-3">Phim Mới</li>
                            <li class="mb-3">Phim Chiếu Rạp</li>
                            <li class="mb-3">Phim Lẻ</li>
                            <li class="mb-3">Phim Bộ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>